
p.author {
  width: 75%;
  font-style: italic;
  font-weight: bold;
}
.intro {
  width: 100%;
  font-weight: 2356;
  font-style: italic;
}
p.middle {
  width: 20%;
}
img.intro {
  width: 90%;
  height: 50%;
}